---
import Layout from '@/layouts/Layout.astro';
import { homeTDK } from '../config/seoTdk';
import LatestBlog from '@/components/section/LatestBlog.astro';
import About from '@/components/section/About.astro';

---

<Layout
title={homeTDK.title  || ''}
description ={homeTDK.description  || ''}
keywords = {homeTDK.keywords  || ''}
>
<div class="about" >
	<LatestBlog />	<LatestBlog />
  <About />

</div>
</Layout>

