<section class="joinus">
  <div class="container">
    <div class="c-text">
      <div class="c-text-inner col-12 col-md-8 col-lg-6 ml-auto">
        <div class="c-text__content l col-12 col-xl-10 p-0">
          We are the leading international online platform for models and
          clients. If you're ready to start your modeling career but unsure of
          the initial steps, we're here to guide you!
        </div>
        <a href="/blog" class="c-text__link cta link-underlined">
          <img
            src="/images/icon/arrow.svg"
            alt=""
            class="icon--s icon--left c-text__link--arrow"
          />
          <span>Contact Us</span>
        </a>
      </div>
    </div>
  </div>
</section>
