        <section class="scroll-text animate-section">
            <div class="string-scroll animate-item">
                <div class="string-scroll__text">
                    VISUALS THAT REFLECT YOUR VISION •
                    LATINOS CON ORGULLO •
                    BY TORI & ANDREW •
                    DM FOR RATES •
                </div>
            </div>
        </section>