<div id="preloader" class="preloader js-siteloader">
  <div class="preloader-wrapper">
    <div class="preloader-logo fadeInUpBig">
      <img src="/images/logo-reflejo.png" alt="" width="auto" height="50" />
    </div>
    <div class="preloader-text fadeInUpBig">
      <span class="percentage loading-num">0</span>%
    </div>
    <div class="preloader-bar"></div>
  </div>
</div>

<div class="intro" id="intro" >
  <div class="intro__fader" style="opacity: 0;"></div>
  <ul class="intro__hold">
    <li class="intro__img">
      <div class="intro__img__hold">
        <img
          class="img-load"
          src="/images/preloader/001.jpg"
          alt=""
        />
      </div>
    </li>
    <li class="intro__img">
      <div class="intro__img__hold">
        <img
          class="img-load"
          src="/images/preloader/002.jpg"
          alt=""
        />
      </div>
    </li>
    <li class="intro__img">
      <div class="intro__img__hold">
        <img
          class="img-load"
          src="/images/preloader/003.jpg"
          alt=""
        />
      </div>
    </li>
    <li class="intro__img">
      <div class="intro__img__hold">
        <img
          class="img-load"
          src="/images/preloader/004.jpg"
          alt=""
        />
      </div>
    </li>
    <li class="intro__img">
      <div class="intro__img__hold">
        <img
          class="img-load"
          src="/images/preloader/005.jpg"
          alt=""
        />
      </div>
    </li>
    <li class="intro__img" style="">
      <div class="intro__img__hold">
        <img
          class="img-load"
          src="/images/preloader/006.jpg"
          alt=""
        />
      </div>
    </li>
    <li class="intro__img">
      <div class="intro__img__hold">
        <img
          class="img-load"
          src="/images/preloader/007.jpg"
          alt=""
        />
      </div>
    </li>
  </ul>
</div>

<style>
.preloader-logo-img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 70px; /* desktop cap */
  object-fit: contain;
}

@media (max-width: 768px) {
  .preloader-logo-img {
    max-height: 50px; /* mobile cap */
  }
}
</style>
